{% extends 'base.html.twig' %}

{% block title %}Administration: profils{% endblock %}

{% block body %}

<h2 class="display-6 fw-bold text-center text-primary mb-5 mt-5">Administration: gérer les profils</h2>
<button type="button" class="btn btn-primary mb-5" style="float:right;"><a class="text-white" href="{{ path('app_administrator_area_dashboard') }}">Retour au dashboard</a></button>

<section>
    <div class="container mb-5">
      <div class="table-responsive">
        <table class="table table-bordered table-striped m-5">
          <thead class="table__head bg-warning">
            <tr class="winner__table">
              <th>id</th>
              <th><i class="fa fa-user" aria-hidden="true">&ensp;</i>Pseudo</th>
              <th><i class="fa fa-envelope" aria-hidden="true">&ensp;</i>Email</th>
              <th><i class="fa fa-calendar" aria-hidden="true">&ensp;</i>Date</th>
              <th><i aria-hidden="true">&ensp;</i>Role</th>
              <th><i aria-hidden="true">&ensp;</i>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tbody>
              {% for profil in users %}
              <tr>
                <td>{{ profil.id }}</td>
                <td>{{ profil.pseudo }}</td>
                <td>{{ profil.email }}</td>
                <td>{{ "now"|date("Y/m/d H:i:s") }}</td>
                <td>
                  {% for role in profil.roles %}
                  {% if role == "ROLE_USER" %}
                  Utilisateur
              {% elseif role == "ROLE_ADMIN" %}
                  Administrateur
              {% endif %}
          {% endfor %}
                </td>
                <td><a href="">Modifier</a></td>
              </tr>
                      {% else %}
                <p>Aucun utilisateur inscrit</p>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>

  {% endblock %}